{% extends 'layout.html.twig' %}

{% block body %}

    {% block h1 %}
        Affichage de(s) link(s)
    {% endblock %}
    {% block p %}
        <table class="table custom-table-link">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Date d'ajout</th>
                    <th>Tag(s) associé(s)</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            <tbody>

                {% for link in listeLinks %}
                    <tr>
                        <td>
                            <a href="{{ link.url}}" target="_blank">{{ link.url}}</a> 
                        </td>
                        <td>
                            {{ link.dateCrea |date('d-m-Y')}}
                        </td>
                        <td>
                            {% for tag in link.tags %}
                                {{ tag.name }}
                            {% endfor %}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{path('updateLink', {'id': link.id} )}}">Modifier</a></td>
                            <td><a href="{{path('deleteLink', {'id': link.id} )}}" onclick="return confirm('Êtes vous sûr de vouloir supprimer le link : {{ link.url}}')">Supprimer</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success alert-custom-link">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}